.button {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  color: #a5a5a5;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  appearance: none;
}