.awardcard-wrap {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 90px;
}

.awardcard-img {
  width: 130px;
  height: 100%;
  border: 1px solid #ffe57e;
  border-radius: 8px;
  margin-bottom: 16px;
  object-fit: cover;
}

.awardcard-title {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: #2c2c2c;
}