.awardcard-wrap {
  max-width: 300px;
  max-height: 130px;
}

.awardcard-img {
  width: 170px;
  height: 90px;
  border: 1px solid #ffe57e;
  border-radius: 8px;
  margin-bottom: 8px;
  object-fit: cover;
}

.awardcard-title {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: #2c2c2c;
}