.section-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 16px;
  color: #262626;
}

.section-subtitle {
  font-size: 16px;
  font-weight: 700;
  color: #959595;
  margin-bottom: 16px;
}

.icon {
  width: 16px;
}

.wrap {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: 48px auto;

  @media (max-width: 1024px) {
    margin: 0 auto;
  }
}

.details {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1024px) {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
}

.details-image {
  width: 100%;
  height: 500px;
  max-width: 690px;
  border-radius: 8px;
  object-fit: cover;

  @media (max-width: 1024px) {
    max-width: 100%;
    object-fit: cover;
  }
}

.details-inner {
  max-width: 500px;
  max-height: 500px;
  border-radius: 8px;
  box-shadow: 0 0 15px #9f9f9f29;
  padding: 32px;

  @media (max-width: 1024px) {
    max-width: 100%;
    max-height: 100%;
  }
}

.details-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
  color: #262626;
}

.details-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 16px 0;
}

.details-info-inner {
  padding: 16px 0;
}

.details-hr {
  border: 1px solid #e0e0e0;
}

.details-info-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #5f5f5f;
}

.details-info-subtitle {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #5f5f5f;
}

.details-info-highlight {
  font-size: 24px;
  font-weight: 700;
  color: #ffc917;
}

// prepare

.prepare-section {
  display: flex;
  flex-direction: column;
  margin: 24px 0;

  @media (max-width: 768px) {
    margin: 64px 0;
  }

  .prepare-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
    row-gap: 36px;

    @media (max-width: 768px) {
      max-width: 430px;
    }
    @media (min-width: 320px) and (max-width: 375px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.self-section {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  row-gap: 64px;
  margin: 24px 0;

  @media (max-width: 768px) {
    max-width: 430px;
  }

  @media (min-width: 320px) and (max-width: 375px) {
    max-width: 320px;
  }
}

.class-section {
  margin: 64px 0;

  .class-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 700px;
    row-gap: 48px;

    @media (max-width: 768px) {
      max-width: 430px;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 24px;
      column-gap: 24px;
    }
    @media (min-width: 320px) and (max-width: 375px) {
      max-width: 320px;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

// satisfaction

.card-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 700px;
  @media (max-width: 768px) {
    max-width: 430px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 24px;
  }

  @media (min-width: 320px) and (max-width: 375px) {
    max-width: 320px;
  }
}

.satisfaction-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 335px;
  height: 170px;
  padding: 36px;
  box-shadow: 0 0 10px #9f9f9f16;
  margin-bottom: 24px;
  row-gap: 48px;
  align-items: center;

  @media (min-width: 320px) and (max-width: 375px) {
    width: 320px;
  }

  .satisfaction-card-inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .satisfaction-card-title {
      font-size: 16px;
      font-weight: 700;
      color: #5f5f5f;
      margin-bottom: 12px;
    }

    .satisfaction-card-score {
      @extend .satisfaction-card-title;
      font-size: 32px;
    }

    .satisfaction-card-subtitle {
      @extend .satisfaction-card-title;
      font-size: 12px;
      font-weight: 300;
      margin: 0;
    }
  }
}

.statistic-card {
  position: relative;
  width: 335px;
  height: 170px;
  padding: 30px 20px;
  box-shadow: 0 0 10px #9f9f9f16;

  @media (min-width: 320px) and (max-width: 375px) {
    width: 320px;
  }

  .statistic-card-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    .statistic-card-title {
      font-size: 14px;
      font-weight: 300;
      color: #5f5f5f;
    }

    .statistic-card-score {
      @extend .statistic-card-title;
      font-weight: 400;
    }
  }

  .progress-bar {
    position: absolute;
    width: 120px;
    height: 10px;
    background-color: #d6d6d6;
    right: 64px;

    .progress-bar-inner {
      height: 100%;
      background-color: #ffe57e;
    }
  }
}

.divide-section {
  display: flex;
}

.right-section {
  height: 100%;
  margin: 48px 0;

  @media (max-width: 1280px) {
    display: none;
  }
}

.left-section {
  margin-right: 56px;

  @media (max-width: 1280px) {
    padding: 0 20px;
  }
}

.mini-satisfaction-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 492px;
  height: 100px;
  box-shadow: 0 0 10px #9f9f9f16;
  padding: 24px;
  align-items: center;

  .mini-satisfaction-card-inner {
    display: flex;
    flex-direction: column;
  }

  .inner-title {
    font-size: 18px;
    font-weight: 700;
    color: #5f5f5f;
    margin-bottom: 10px;
  }

  .inner-score {
    font-size: 25px;
    font-weight: 700;
    color: #ffd52c;
  }
}

.real-review-section {
  margin: 48px 0;
}

.filter {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 690px;
  padding-bottom: 24px;

  @media (min-width: 320px) and (max-width: 375px) {
    max-width: 320px;
  }

  & > button {
    font-size: 14px;
    font-weight: 300;
    color: #A5A5A5;
    padding: 4px;
    margin-right: 12px;
    outline: none;
    border: 0;
    background: none;
    cursor: pointer;
  }

  .active {
    color: #747474;
    font-weight: 400;
  }
}

.real-picture-section {
  @extend .real-review-section;

  .picture-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 700px;
  }
}